* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 30px 0px;
}

.container {
    margin: 0 auto;
    display: grid;
    width: 500px;
    height: 500px;
    /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#changeFeatures {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    text-align: center;
}

.colorDiv {
    display: flex;
    align-items: center;
}

.colorDiv label {
    padding-right: 10px;
}

#color {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

#color:hover {
    cursor: pointer;
}

.eraserDiv, .clearDiv {
    display: flex;
    align-items: center;
}

.eraserDiv button, .clearDiv button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.eraserDiv button:hover, .clearDiv button:hover {
    cursor: pointer;
    padding: 12px 24px;
    background-color: green;
    color: white;
}

.eraserDiv button:active, .clearDiv button:active {
    padding: 10px 20px;
}

.clearDiv button {
    background-color: white;
}

/* Active class is toggled on and off with JS */

.active {
    background-color: green;
    color: white;
}

.inactive {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 515px) {
    .container {
        width: 300px;
        height: 300px;
    }

    #changeFeatures {
        width: 300px;
        justify-content: space-between;
    }

    .sliderDiv, .colorDiv {
        width: 50%;
        padding-bottom: 20px;
    }

    #color {
        width: 40px;
        height: 40px;
    }
}